.container{
width: 800px;
height: 800px; 
background-color: rgb(0, 0, 0);
display: flex;
flex-wrap: wrap;
font-size: 1rem;  
}
body{
    background-color: grey;
}
#c1{
    background-color: red;
    width: 50%;
    height: 50%;
}
#c2{
    background-color: yellow;
    width: 50%;
    height: 50%;
}
#c3{
    background-color: green;
    width: 50%;
    height: 50%;
}
#c4{
    background-color: blue;
    width: 50%;
    height: 50%;    
}
h2{
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 3.1rem;
    margin-top: 40%;
    margin-left: 20%;
}